body {
  background: #fff;
  font: 16px/26px 'Poiret One', Helvetica, Arial, Verdana;
  color: #333333;
}

.arizonia { font-family: 'Arizonia', Helvetica, Arial, Verdana; }
.poiret { font-family: 'Poiret One', Helvetica, Arial, Verdana; }

/* Layout */
.wrapper {
  width: 100%;
  margin: 0 auto;
}
.narrow-wrapper {
  width: 100%;
  margin: 0 auto;
}

.footer-container footer { height: 40px; }

section { display: block; }
aside { padding: 0 10%; }
article { padding: 0 10% 60px; }

article h2 {
  color: #bc8093; }

section#cover {
  padding: 0;
  height: 300px;
  background: url('../img/cover.jpg') no-repeat center 25%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section#cover img { display: none; }

hr {
  width: 100%;
  background: transparent url(../img/hr.png) center center no-repeat;
  height: 41px;
  border: 0;
  padding: 0;
  margin: 3em auto;
}
hr.simple {
  background: transparent url(../img/hr_simple.png) center center no-repeat;
  height: 3px;
  margin: 1em 0 3em;
}

blockquote {
  text-align: center; }
.author{
  color: #808285;
  display: block; }

.sign {
  margin-top: .5em;
  display: block;
  font-size: 2em;
  color: #f8b7c9; }

.header-container .title a {
  display: block;
  background: transparent url(../img/logo.png) center center;
  width: 237px;
  height: 120px;
  margin: 35px auto 45px;
}

.header-container nav,
.footer-container footer {
  background: #4F4D4A; }


nav a { text-decoration: none; }

.header-container {
  background: #fff;
  border: 0;
  box-shadow: 0; }

  .header-container nav {
    width: 100%;
    background: #4F4D4A;
    line-height: 35px; }

  .header-container nav ul {
    padding: 0; }
  .header-container nav li {
    color: #fff; }
  .header-container nav a {
    position: relative;
    text-align: center;
    color: inherit;
    display: block; }
  .header-container nav li:hover a,
  .header-container nav li.active a {
    color: #4F4D4A;
    background-color: #f8b7c9; }

aside nav ul { padding: 0; }
aside nav li {
  margin-bottom: .3em;
  color: #333333;
  padding-left: .5em;
  line-height: 36px;
  background: transparent url(../img/nav_bottom.png) left bottom no-repeat; }
aside nav li:hover { color: #bc8093; }
aside nav a,
aside nav a:visited {
  color: inherit;
}


@media only screen and (min-width: 480px) {
  nav li:first-child a { margin-left: 0; }
  nav li:last-child  a { margin-right: 0; }
}

@media only screen and (min-width: 768px) {
  aside { padding: 0; }
  section { padding: 30px 0 60px; }

  .header-container {
    padding-bottom: 35px;
    position: relative; }
  .header-container nav { position: absolute; }

  .narrow-wrapper { width: 670px; }

  .header-container nav { height: 35px; }
  .header-container nav li {
    width: 25%;
    float: left; }

  .header-container nav li.active a {
    line-height: 50px;
    height: 50px; }
  .header-container nav li.active a:before,
  .header-container nav li.active a:after {
    content: '';
    position: absolute;
    bottom: 0;
    line-height: 0;
    width: 0px;
    height: 0px;
    border-style: solid; }

  .header-container nav li.active a:before {
    left: -15px;
    border-width: 0 15px 15px 0;
    border-color: transparent #bc8093 transparent transparent; }

  .header-container nav li.active a:after {
    right: -15px;
    border-width: 15px 15px 0 0;
    border-color: #bc8093 transparent transparent transparent; }

  section#cover {
    height: 484px; }

  aside nav ul { padding-left: 1em; }
  .main aside {
    float: right;
    width: 30%;
  }
}

@media only screen and (min-width: 960px) {
  .wrapper {
    width: 940px; /* 960px - 2 x 10px for margins */
    margin: 0 auto;
  }
}

/* Helpers */
.center {
  text-align: center;
}
